version: 2.1

jobs:
  test:
    working_directory: ~/repo
    docker:
      - image: circleci/node:12.2.0
        environment:
          NODE_ENV: test
    steps:
      - checkout
      - restore_cache:
          name: Restore Yarn Package Cache
          keys:
            - yarn-packages-{{ checksum "yarn.lock" }}
      - run:
          name: Install dependencies
          command: |
            yarn install --frozen-lockfile
      - save_cache:
          name: Save Yarn Package Cache
          key: yarn-packages-{{ checksum "yarn.lock" }}
          paths:
            - ~/.cache/yarn
      - run:
          name: Tests
          command: |
            yarn build
            yarn test
            test:report:coverage
      - persist_to_workspace:
          root: ~/repo
          paths: .

  publish:
    working_directory: ~/repo
    docker:
      - image: circleci/node:12.2.0
    steps:
      - attach_workspace:
          at: ~/repo
      - run:
          name: Authenticate with registry
          command: echo "//registry.npmjs.org/:_authToken=$NPM_TOKEN" > ~/repo/.npmrc
      - run:
          name: Publish package
          command: |
            PACK=$(npm view . name)
            PUBLISHED_VERSION=$(npm view "$PACK" version)
            PACKAGE_VERSION=$(cat package.json \
              | grep version \
              | head -1 \
              | awk -F: '{ print $2 }' \
              | sed 's/[", ]//g')
            echo Package=$PACK, Published version=$PUBLISHED_VERSION, Package version=$PACKAGE_VERSION
            if [ "$PUBLISHED_VERSION" == "$PACKAGE_VERSION" ]; then
              echo " => Not publishing"
            else
              echo " => Will publish"
              npm publish
            fi

workflows:
  version: 2
  test-n-publish:
    jobs:
      - test
      - publish:
          requires:
            - test
          filters:
            branches:
              only: master

