{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false,
        "targets": {
          "browsers": ["Chrome >= 70", "iOS >= 12", "Firefox >= 64"]
        }
      }
    ],
    "@babel/preset-react"
  ]
}
